<%= stylesheet_link_tag "signup" %>

<div class="SignUpBody">
    <div class="LoginArea">
        <div class="SignIn">
            <%= image_tag("Instagram_logo.svg", :alt => "InstagramLogo") %>
            <h3> Sign up to see photos and videos of your friends<h3>
            <div class="FacebookLogin"><div class="FacebookIcon"><i class="fab fa-facebook-square"></div></i><%= link_to "Log in with Facebook", "/" %></div>
            <div class="OrSignIn">
                <div class="Line"></div>
                <div class="Text">OR</div>
                <div class="Line"></div>
            </div>
            <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
              <div class="field">
                <%= f.email_field :email, autofocus: true,placeholder: "Mobile Number or Email", autocomplete: "email"%>
              </div>

              <div class="field">
                <%= f.text_field :name, placeholder: "Full Name",autocomplete: "name" %>
              </div>

              <div class="field">
                <%= f.text_field :username, placeholder: "Username",autocomplete: "username" %>
              </div>

              <div class="field">
                <%= f.password_field :password, placeholder: "Password",autocomplete: "new-password" %>
              </div>

              <div class="field">
                <%= f.password_field :password_confirmation, placeholder: "Password Confirm",autocomplete: "new-password" %>
              </div>

              <div class="Login">
                <%= f.submit "Next" %>
              </div>
              <div class="SignUpErrorMessage"><%= render "devise/shared/error_messages", resource: resource %></div>
            <% end %>
            <p class="Terms">By signing up, you agree to our Terms . Learn how we collect, use and share your data in our Data Policy and how we use cookies and similar technology in our Cookies Policy .</p>
        </div>
        <div class="SignUp">
            <div class="ForgotPassword">Have an account? <%= render "devise/shared/links" %></div>
        </div>
        <div class="GetTheApp">
            <p>Get the app.</p>
            <div class="PhoneStore">
                <a href="https://apps.apple.com/app/instagram/id389801252?vt=lo" target="_blank"><img src="https://instagram.com/static/images/appstore-install-badges/badge_ios_english-en.png/180ae7a0bcf7.png" /></a>
                <a href="https://play.google.com/store/apps/details?id=com.instagram.android" target="_blank"><img src="https://instagram.com/static/images/appstore-install-badges/badge_android_english-en.png/e9cd846dc748.png" /></a>
            </div>
        </div>
    </div>
</div>
<%= render partial: "shared/footer" %>