<div class="menu_item">
    <%= link_to "Edit profile", settings_path %>        
</div>
<div class="menu_item">
    <%= link_to "Professional Account", main_path %>        
</div>
<div class="menu_item">
    <%= link_to "Change password", edit_user_registration_path %>        
</div>
<div class="menu_item">
    <%= link_to "Apps and websites", main_path %>        
</div>
<div class="menu_item">
    <%= link_to "Email and SMS", main_path %>        
</div>
<div class="menu_item">
    <%= link_to "Push notifications", main_path %>        
</div>
<div class="menu_item">
    <%= link_to "Manage contacts", main_path %>        
</div>
<div class="menu_item">
    <%= link_to "Privacy and security", main_path %>        
</div>
<div class="menu_item">
    <%= link_to "Login activity", main_path %>        
</div>
<div class="menu_item">
    <%= link_to "Emails from Instagram", main_path %>        
</div>
<div class="menu_item">
    <div class="stpa">
        <%= link_to "Switch to Personal Account", main_path %>
    </div>     
</div>